*{
 margin: 0px;
 padding: 0px;
}

.clearfix::after{
 content: “”;
 clear: both;
 display: block;  
}

html {
  scroll-behavior: smooth;
}

body{
 font-family: Georgia;
}

header{
 background-color: #fffff0;
}

.header-logo{
 display: flex;
 padding: 0px 20px 25px;
 justify-content: center;
 height: 120px;
}

li{
 list-style: none;
}

.header-list{
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.header-list li{
 margin-right: 15px;
 font-size: 18px;
 border-bottom: 2px solid #B06070;
 color: black;
}

.picture-1 img{
 width: 100vw;
 height: 70vh;
}

.content1{
 width: 70vh;
 height: 35vh;
 background-color: #E6E6FA;
 text-align: center;
 margin: auto;
 margin-top: 25vh;
 margin-bottom: 50px;
}

#photo {
 width: 90vh;
 height: 50vh;
 margin: 0 auto;
 text-align: left;
 overflow: hidden;
 position: relative;
 margin-top: 20vh;
 margin-bottom: 20vh;
}

#photo img {
 top: 0;
 left: 0;
 position: absolute;
 width: 90vh;
 height: 50vh;
}

h1{
 padding-top: 15px;
font-size: 25px;
}

.text-1{
 margin-top: 0px;
}

.content2{
 margin-top: 4vh;
 margin-left: 100px;
 width: 50vw;
 height: 60vh;
 
}
.picture2 img{
 width: 25vw;
 height: 46vh;
 float: left;
}

h2{
 margin-top: 10px;
 font-size: 20px;
}


.text-2{
 padding-top: 40px;
 text-align: center;
 font-size: 15px;
 background-color: #FFE4C4;
 height: 40vh;
}

.content3{
 margin-top: 4vh;
 width: 50vw;
 height: 60vh;
 margin-left: 40vw;
 
}

.picture3 img{
 width: 25vw;
 height: 48vh;
 float: right;
}

.text-3{
 text-align: center;
 padding-top: 70px;
 background-color: #FFFACD;
 width: 25vw;
 height: 37vh;
}


.text-4{
 text-align: center;
 padding-top: 70px;
 background-color: #D0E0E0;
 height: 35vh;
}

h3{
 text-align: center;
 margin-top: 20px;
 position: relative;
 margin-bottom: 1em;
}

h3:before {
 content: '';
 position: absolute;
 bottom: -15px;
 display: inline-block;
 width: 60px;
 height: 5px;
 left: 50%;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
 background-color: #40E0D0;
 border-radius: 2px;
}

.content5{
 text-align: center;
 
}

.content6{
 display: flex;
 margin-top: 15px;
 margin-right: 10px;
 justify-content: space-around;
}

.picture5 img{
 width: 350px;
 height: 300px;
}

p{
 text-align: center;
 padding-top: 10px;
 padding-bottom: 30px;
 font-size: 20px;
}

.footer-list{
 height: 180px;
 background-color: black;
 color: white;
}

.footer-list ul{
 display: flex;
 justify-content: center;
 padding-top: 30px;
 padding-bottom: 50px;
}

.footer-list li{
 margin: 0 20px;
 padding: 0 20px;
 font-size: 20px;
}

.footer-info{
 padding-bottom: 20px;
}

.footer-info p{
 line-height: 5px;
 padding-bottom: 5px;
}

main{
 background-image: url("./img/marble1.jpg");
 
}

@media screen and (max-width: 1024px){
  
 .picture-1 img{
   height: 40vh;
  }
  .content1{
   height: 25vh;
   margin-top: 100px;
  }

  #photo{
   width: 90vw;
   height: 35vh;
  }
  #photo img{
   width: 90vw;
   height: 35vh;
   margin-left: 10px;
  }

  .content2{
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    float: none;
   }
 
   .picture2 img{
    float: none;
    width: 80vw;
    height: 30vh;
    padding-bottom: 20px;
    margin-left: 70px;
    margin-top: 60px;
   }
 
   .text-2{
    width: 60vw;
    height: 15vh;
    margin-left: 150px;
    padding-top: 20px;
    margin-top: 40px;
   }
 
   .content3{
    width: 100%;
    margin-left: 0;
    float: none;
   }
 
   .picture3 img{
    width: 80vw;
    height: 30vh;
    margin-left: 70px;
    margin-top: 5px;
    padding-top: 60px;
    float: none;
   }
 
   .text-3{
    width: 60vw;
    height: 15vh;
    margin-left: 150px;
    margin-top: 20px;
    padding-top: 20px;
   }
 
   .text-4{
     width: 60vw;
     height: 15vh;
     margin-left: 150px;
     margin-top: 20px;
     padding-top: 20px;
   }
}


@media screen and (max-width: 736px){
  *{
    margin: 0px;
    padding: 0px;
   }


  .header-list{
   margin-left: 0px;
   flex-wrap: wrap;
  }

  .content1{
   width: 100%;
   height: 30vh;
   margin-top: 20vh;
  }

  #photo{
   width: 90vw;
   height: 35vh;
  }
  #photo img{
   width: 90vw;
   height: 35vh;
   margin-left: 10px;
  }

  .picture-1 img{
   height: 200px;
   width: 100%;
  }

  .content2{
   width: 100px;
   margin-top: 0px;
   margin-left: 0px;
   float: none;
  }

  .picture2 img{
   float: none;
   width: 90vw;
   height: 30vh;
   padding-bottom: 20px;
   margin-left: 20px;
   margin-top: 60px;
  }

  .text-2{
   width: 320px;
   height: 150px;
   margin-left: 25px;
   padding-top: 20px;
   margin-top: 40px;
  }

  .content3{
   width: 100%;
   margin-left: 0;
   margin-top: 120px;
   float: none;
  }

  .picture3 img{
   width: 350px;
   height: 200px;
   margin-left: 12px;
   margin-top: 5px;
   padding-top: 5px;
   float: none;
  }

  .text-3{
   width: 330px;
   height: 150px;
   margin-left: 20px;
   margin-top: 20px;
   padding-top: 15px;
  }

  .text-4{
    width: 330px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 15px;
  }
  
  .content6{
   display: block;
  }

  h3{
   padding-top: 120px;  
  }

  p{
   padding-top: 18px; 
   margin-bottom: 0px;
  }
  
  .footer-list ul{
   flex-wrap: wrap;
   padding-top: 10px;
   padding-bottom: 0px; 
  }

  .footer-list li{
   line-height: 30px;
   font-size: 17px;
  }

}
 
